#todo-error{
  color: red;
  font-size: 2em;
}

.strikethrough {
  text-decoration: line-through;
}

.h100 {
    height: 100vh;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-bottom {
  padding-bottom: 20px;
}

.quote {
  color: white;
  background-color: rgba(87, 87, 87, 0.424);
}

.weather-stuff {
  color: white;
  background-color: rgba(87, 87, 87, 0.424);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.weather-specifics {
  margin-bottom: 0px;
}

.todos {
  color: white;
  background-color: rgba(87, 87, 87, 0.424);
}

.new-todo {
  text-align: center;
}




